---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import PatternQuotes from '@assets/2-coding-bootcamp-testimonials-slider/pattern-quotes.svg';
import ImageJohn from '@assets/2-coding-bootcamp-testimonials-slider/image-john.jpg';
import IconPrev from '@assets/2-coding-bootcamp-testimonials-slider/icon-prev.svg';
import IconNext from '@assets/2-coding-bootcamp-testimonials-slider/icon-next.svg';
import ImageTanya from '@assets/2-coding-bootcamp-testimonials-slider/image-tanya.jpg';
import './2-coding-bootcamp-testimonials-slider.css';
---

<Layout title="Coding bootcamp testimonials slider">
  <div class="container-fluid">
    <div class="container-background-image desktop">
      <div class="container">
        <div class="container-left">
          <Image src={PatternQuotes} alt="pattern-quotes" />
          <div class="container-left__container-text">
            <p class="container-left__text-title">
              “ If you want to lay the best foundation possible I’d recommend
              taking this course. The depth the instructors go into is
              incredible. I now feel so confident about starting up as a
              professional developer. ”
            </p>

            <p class="container-left__text-title hidden">
              “ I’ve been interested in coding for a while but never taken the
              jump, until now. I couldn’t recommend this course enough. I’m now
              in the job of my dreams and so excited about the future. ”
            </p>

            <div class="container-left__container-name">
              <p class="container-left__text-name">John Tarkpor</p>
              <p>Junior Front-end Developer</p>
            </div>

            <div class="container-left__container-name hidden">
              <p class="container-left__text-name">Tanya Sinclair</p>
              <p>UX Engineer</p>
            </div>
          </div>
        </div>

        <div class="container-right">
          <div class="container-right__img">
            <Image
              src={ImageJohn}
              alt="image-john"
              class="container-right__img--img-principal"
            />

            <Image
              src={ImageTanya}
              alt="image-tanya"
              class="container-right__img--img-principal hidden"
            />
          </div>

          <div class="container-right__box-shadow"></div>

          <div class="container-right__button-container">
            <div class="container-right__button-left">
              <Image src={IconPrev} alt="icon-prev" />
            </div>
            <div class="container-right__button-right">
              <Image src={IconNext} alt="icon-next" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-background-image mobile">
      <div class="container">
        <div class="container-right">
          <div class="container-right__img">
            <Image
              src={ImageJohn}
              alt="image-john"
              class="container-right__img--img-principal"
            />

            <Image
              src={ImageTanya}
              alt="image-tanya"
              class="container-right__img--img-principal hidden"
            />
          </div>

          <div class="container-right__box-shadow"></div>

          <div class="container-right__button-container">
            <div class="container-right__button-left">
              <Image src={IconPrev} alt="icon-prev" />
            </div>
            <div class="container-right__button-right">
              <Image src={IconNext} alt="icon-next" />
            </div>
          </div>
        </div>
        <div class="container-left">
          <Image src={PatternQuotes} alt="pattern-quotes" />
          <div class="container-left__container-text">
            <p class="container-left__text-title">
              “ If you want to lay the best foundation possible I’d recommend
              taking this course. The depth the instructors go into is
              incredible. I now feel so confident about starting up as a
              professional developer. ”
            </p>

            <p class="container-left__text-title hidden">
              “ I’ve been interested in coding for a while but never taken the
              jump, until now. I couldn’t recommend this course enough. I’m now
              in the job of my dreams and so excited about the future. ”
            </p>

            <div class="container-left__container-name">
              <p class="container-left__text-name">John Tarkpor</p>
              <p>Junior Front-end Developer</p>
            </div>

            <div class="container-left__container-name hidden">
              <p class="container-left__text-name">Tanya Sinclair</p>
              <p>UX Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./slides.ts"></script>
</Layout>
